canvas {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-image: url('https://5.imimg.com/data5/BG/UM/MY-23375112/61-1000x1000.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 500px;
    display: block;
}

#container{
    display: flex;
    align-items: center;
}

#controls{
    width: fit-content;
    background-color: #242424;
    border-radius: 20px;
    padding: 20px;
}

.controls-content{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px;
    border-radius: 10px;
    height: 40px;
}

button{
    font-family: inherit;
  font-size: 20px;
  background: rgb(216, 9, 151);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  margin-bottom: 10px;
}